<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>UPlay</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/css/session.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #F7F7F7;
        }
    </style>
</head>

<body>
    <h1 class="act-heading">Activity</h1>
    <div class="cards" id="act-cards">
    </div>
    <div class="bottom-bar">
        <button class="icon" onclick="window.location.href='/dashboard';">
            <img src="https://cdn.discordapp.com/attachments/766636913343463454/1041120878290804808/image.png" alt="active">
        </button>
        <button class="icon" id="active-icon">
            <img src="https://cdn.discordapp.com/attachments/766636913343463454/1041120984176001034/image.png" alt="active">
        </button>
    </div>

    <script src="/js/activity.js"></script>
</body>

</html>