<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/common.js"></script>
    <script src="/js/register.js"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>UPlay</title>
</head>
<body>
    <div id="p1">
        <div class="header">
            <h1>Register with <span style="font-weight: 800; color: #4758D6; font-style: bold;">UPlay</span> <img src="https://cdn.discordapp.com/attachments/766636913343463454/1041024613238460466/image.png">
            </h1>
            <p>
                Fill in your name, UMass email, password, and phone number. You will be identified by these details.
            </p>
        </div>
        <div class="inputs">
            <div class="input">
                <p>Name</p>
                <input type="text" name="name" autocomplete="disabled" placeholder="Anshul Saha">
            </div>
            <div class="input">
                <p>UMass Email</p>
                <input type="email" name="umass-email" autocomplete="disabled" placeholder="anshulsaha@umass.edu">
            </div>
            <div class="input">
                <p>Password</p>
                <input type="password" name="password" autocomplete="disabled" placeholder="*********">
            </div>
            <div class="input">
                <p>Confirm Password</p>
                <input type="password" name="confirm-password" autocomplete="disabled" placeholder="*********">
            </div>
            <div class="input">
                <p>Phone Number</p>
                <input type="text" name="phone-number" autocomplete="disabled" placeholder="+1 (123) 456-7890">
            </div>
        </div>
        <button class="continue">Register</button>
    </div>
</body>
</html>