<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/common.js"></script>
    <script src="/js/sports.js"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>UPlay</title>
</head>
<body>
    <div id="p1">
        <div class="header">
            <h1>Select <span style="font-weight: 800; color: #4758D6; font-style: bold;">&nbsp;preferred</span> <span style="font-weight: 800; color: #4758D6; font-style: bold;">sports</span>&nbsp;(max 3)
            </h1>
        </div>
        <div class="inputs">
            <div class="sports-card" id="soccer">
                <p>Soccer</p>
            </div>
            <div class="sports-card" id="tennis">
                <p>Tennis</p>
            </div>
            <div class="sports-card" id="basketball">
                <p>Basketball</p>
            </div>
            <div class="sports-card" id="badminton">
                <p>Badminton</p>
            </div>
            <div class="sports-card" id="cricket">
                <p>Cricket</p>
            </div>
            <div class="sports-card" id="football">
                <p>Football</p>
            </div>
        </div>
        <button class="continue">Select</button>
    </div>
</body>
</html>