<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="/js/common.js"></script>
    <script src="/js/verify.js"></script>  
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <title>UPlay</title>
</head>
<body>
    <div id="p1">
        <img src="https://cdn.discordapp.com/attachments/766636913343463454/1041040881765056582/image.png" style="margin-top: 10vw;">
        <div class="header">
            <h1>Verify your <span style="font-weight: 800; color: #4758D6; font-style: bold;">&nbsp;email</span>
            </h1>
            <p>
                Enter the 6-digit verification code sent to your UMass email.
            </p>
        </div>
        <div class="inputs">
            <div class="input">
                <input type="text" name="token" autocomplete="disabled" placeholder="123456">
            </div>
        </div>
        <button class="continue">Verify</button>
    </div>
</body>
</html>